@inherits MobileRoomPage
@using OX.Wallets.Eths
<div class="box">
    <div>
        @{
            string bankerKey = string.Empty;
            if (this.Riddles.IsNotNull() && this.keys != default)
            {
                bankerKey = $"-{this.keys[this.BankerPosition]}";
            }
            var totalAmount = this.PostionContexts.Sum(m => m.Value.Bettings.Sum(m => m.Amount));
            var assetState = Blockchain.Singleton.CurrentSnapshot.Assets.TryGet(this.Room.Request.AssetId);
            var assetName = assetState.GetName();
            var kindItem = new EnumItem<GameKind>(this.Room.Request.Kind);
        }
        <Space>
            <SpaceItem><Tag Class="tag" Color="blue-inverse">@kindItem.ToWebString(this) <Badge Count="this.Room.Request.BonusMultiple" Class="site-badge-count-4" /></Tag></SpaceItem>
            <SpaceItem><Tag Class="tag" Color="blue-inverse">@assetName@this.WebLocalString(" 余额", " balance"):@(this.AssetBalance.GetInternalValue() / Fixed8.D)</Tag></SpaceItem>
            </Space>
            <Space>
                <SpaceItem><Tag Class="tag" Color="blue-inverse">@this.WebLocalString("奖池", "Pool Balance"):@(this.poolBalance.GetInternalValue() / Fixed8.D)</Tag></SpaceItem>
                <SpaceItem><Tag Class="tag" Color="blue-inverse">@this.WebLocalString("投注", "Betting"):@totalAmount</Tag></SpaceItem>
            </Space>
            <Space>
                <SpaceItem><Tag Class="tag" Color="blue-inverse">@this.WebLocalString("庄池", "Banker Balance")：@this.masterBalance</Tag></SpaceItem>
                <SpaceItem>
                    <Tag Class="tag" Color="blue-inverse">@this.WebLocalString("庄家位", "Banker Position"):@this.BankerPosition @bankerKey</Tag>
                </SpaceItem>
            </Space>
            <Space>
                <SpaceItem><Tag Class="tag" Color="blue-inverse">@this.WebLocalString("特码位", "Special"):@specialCodePosition</Tag></SpaceItem>

            </Space>
        </div>
        <Space Class="navspace">
            <SpaceItem>@this.CurrentIndex</SpaceItem>
            <SpaceItem>
                @if (this.LastBlock.IsNotNull() && this.LastBlock.Index < this.CurrentIndex)
            {
                var stamp = (int?)(this.CurrentIndex - this.LastBlock.Index);
                <Badge Count="@stamp" />
            }
        </SpaceItem>
        <SpaceItem><Button OnClick="Previous">@this.WebLocalString("上一局","Previous")</Button></SpaceItem>
        <SpaceItem><Button OnClick="Current">@this.WebLocalString("当前","Current")</Button></SpaceItem>
        <SpaceItem><Button OnClick="Next">@this.WebLocalString("下一局","Next")</Button></SpaceItem>

    </Space>
</div>
<div class="box">
    <GridRow Gutter="(8, 8)">
        @{
            foreach (var m in this.PostionContexts.OrderBy(m => m.Key))
            {
                <GridCol Span="8">
                    <div Class="cell">
                        @{
                            var totalAmount = m.Value.Bettings.Sum(m => m.Amount).ToString();
                            if (m.Value.Key != default)
                            {
                                var s = m.Value.Key.ToString();
                                var c = int.Parse(s);
                                <Badge Class="positioncell" Size="small" Count="@c" ShowZero>
                                 <Button Class="betcell" Type="@ButtonType.Primary" Size="@ButtonSize.Small"> @m.Key | @totalAmount</Button>
                             </Badge>
                            }
                            else
                            {
                                <Button Class="betcell" @onclick="_=>OpenBet(m.Key)" Type="@ButtonType.Primary" Size="@ButtonSize.Small"> @m.Key | @totalAmount</Button>
                            }
                        }
                        @foreach (var r in m.Value.Bettings.OrderByDescending(m => m.Amount))
                        {
                            var cc = string.Empty;
                            var spccs = r.BetRequest.BetPoint.Split('|');
                            if (spccs.IsNotNullAndEmpty() && spccs.Length > 1)
                            {
                                cc = spccs[1];
                            }
                            var tip = $"{r.BetRequest.From.ToAddress().Omit()} --{cc}";

                            <Tooltip Class="tip" Placement="Placement.RightTop" Title=@tip ArrowPointAtCenter="true" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})">
                                @if (this.Account.IsNotNull() && r.BetRequest.From == this.Account.ScriptHash)
                                {
                                    <Button Class="betcell" Size="@ButtonSize.Small" Danger>@r.Amount</Button>
                                }
                                else
                                {
                                    <Button Class="betcell" Size="@ButtonSize.Small">@r.Amount</Button>
                                }
                            </Tooltip>
                        }

                    </div>
                </GridCol>
            }
        }

    </GridRow>
</div>
@if (this.Prizes.IsNotNullAndEmpty())
{
    <div class="prize">

        @foreach (var cr in this.Prizes)
        {
            <Tooltip Class="tip" Placement="Placement.RightTop" Title=@cr.ScriptHash.ToAddress().Omit() ArrowPointAtCenter="true" Trigger="@(new AntDesign.Trigger[] { AntDesign.Trigger.Click})">

                @if (this.Account.IsNotNull() && cr.ScriptHash == this.Account.ScriptHash)
                {
                    <Button Size="@ButtonSize.Small" Danger>@cr.Value</Button>
                }
                else
                {
                    <Button Size="@ButtonSize.Small">@cr.Value</Button>
                }
            </Tooltip>
        }

    </div>
}
<div class="box">
    @{

        var msg = this.WebLocalString($"抽佣比例:  {this.Room.Request.CommissionValue}/1000", $"Commission Ratio per round:  {this.Room.Request.CommissionValue}/1000");
        var blocks = Game.PeroidBlocks(this.Room.Request);
        if (blocks == 10) blocks = 20;
        var speed = this.WebLocalString($"每局周期: {blocks} 区块", $"Period:  {blocks} blocks");
        var stateItem = new EnumItem<RoomPermission>(this.Room.Request.Permission);
        var state = this.WebLocalString($"房间状态:  {stateItem.ToWebString(this)}", $"Room State:  {stateItem.ToWebString(this)}");
    }
    <Collapse>
        <Panel Header="@this.WebLocalString("房间信息","Room Information")" Key="1">
            <ul>
                <li>@msg</li>
                <li>@speed</li>
                <li>@state</li>
                <li>@this.WebLocalString($"下注地址:{this.Room.BetAddress.ToAddress()}",$"Bet Address:{this.Room.BetAddress.ToAddress()}")</li>
                <li>@this.WebLocalString($"奖池地址:{this.Room.PoolAddress.ToAddress()}",$"Pool Address:{this.Room.PoolAddress.ToAddress()}")</li>
                <li>@this.WebLocalString($"房费地址:{this.Room.FeeAddress.ToAddress()}",$"Fee Address:{this.Room.FeeAddress.ToAddress()}")</li>
                <li>@this.WebLocalString($"庄池地址:{this.Room.BankerAddress.ToAddress()}",$"Banker Address:{this.Room.BankerAddress.ToAddress()}")</li>
                <li>@this.WebLocalString($"房主地址:{this.Room.Holder.ToAddress()}",$"Holder Address:{this.Room.Holder.ToAddress()}")</li>
            </ul>
        </Panel>

    </Collapse>
</div>
<div>
    @if (this.Account.IsNotNull())
    {
        <Drawer Closable="true" Placement="bottom" Height="450" Visible="DrawerVisible" Title='@this.WebLocalString($"下注    {this.BetModel.Position}号位  到{this.BetModel.BetIndex}局",$"Bet    position {this.BetModel.Position} on round {this.BetModel.BetIndex}")' OnClose="_=>CloseBet()">
            <Template style="height:90%">
                <Form Model="@this.BetModel"
                      Style="margin-top: 8px;"
                      OnFinish="Bet">
                    <FormItem Label="@this.WebLocalString("余额","Balance")" ShowFeedbackOnError="true">
                        <Input ReadOnly=true @bind-Value="@this.AssetBalance"></Input>
                    </FormItem>
                    <FormItem Label="@this.WebLocalString("特码","Special Code")">
                        <Select Mode="default"
                                DataSource="@SpecialCode.All()"
                        @bind-Value="@context.SpecialCode"
                                LabelName="@nameof(SpecialCode.Code)"
                                ValueName="@nameof(SpecialCode.Code)">
                        </Select>
                    </FormItem>
                    <FormItem Label="@this.WebLocalString("下注金额","Bet Amount")" ShowFeedbackOnError="true">
                        <AntDesign.InputNumber @bind-Value="@context.Amount" Min="1" TValue="uint" Max="100000000" PlaceHolder='@this.WebLocalString("请输入下注金额","please enter bet amount")'></AntDesign.InputNumber>
                    </FormItem>
                    <Row Gutter="8">
                        <AntDesign.Col Span="18">
                        </AntDesign.Col>
                        <AntDesign.Col Span="6">
                            <Button Icon="plus" HtmlType="submit" Type="primary" Disabled=false>@this.WebLocalString("下注","Bet")</Button>
                        </AntDesign.Col>
                    </Row>
                </Form>
            </Template>
        </Drawer>
    }
</div>
<style>
    .box {
        padding: 3px;
    }

    .prize {
        margin: 3px;
        padding: 10px;
        background: #00a0e9;
    }

    .tag {
        margin-top: 10px;
    }

    .navspace {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .cell {
        border: 1px solid #0092ff;
        aspect-ratio: 1/1;
    }

    .betcell {
        margin: 1px;
    }

    .positioncell {
        margin-right: 10px;
    }

    .site-badge-count-4 .ant-badge-count {
        background-color: #fff;
        color: #999;
        box-shadow: 0 0 0 1px #d9d9d9 inset;
    }

    ul {
        font-size: 9px;
    }
</style>